name: Tests

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Nim
        uses: jiro4989/setup-nim-action@v1
        with:
          nim-version: "stable"

      - name: Install dependencies
        run: nimble install -y
        env:
          # Skip SSL verification on Windows for now
          SSL_VERIFICATION: false

      - name: Run all tests
        run: nim c -r tests/all_tests.nim
